package ${package}.controller;


import com.minzi.common.core.query.PageUtils;
import com.minzi.common.core.query.R;
import ${package}.model.to.${classname}.${className}InfoTo;
import ${package}.model.to.${classname}.${className}ListTo;
import ${package}.model.vo.${classname}.${className}SaveVo;
import ${package}.model.vo.${classname}.${className}UpdateVo;
import ${package}.service.${className}Service;
import org.springframework.util.StringUtils;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import java.util.List;
import java.util.Map;

@RestController
@RequestMapping("/${moduleName}/${classname}")
public class ${className}Controller {

    @Resource
    private ${className}Service ${classname}Service;


    @ApiOperation(value = "${comments}列表")
    @GetMapping("/list")
    public R list(@RequestParam Map<String, Object> params) {
        if (StringUtils.isEmpty(params.get("page"))) {
            List<${className}ListTo> all = ${classname}Service.all(params);
            return R.ok().setData(all);
        }
        PageUtils pageUtils = ${classname}Service.queryPage(params);
        return R.ok().setData(pageUtils);
    }

    @ApiOperation(value = "${comments}信息")
    @GetMapping("/info")
    public R info(@RequestParam Long id) {
        ${className}InfoTo one = ${classname}Service.getOne(id);
        return R.ok().setData(one);
    }

    @ApiOperation(value = "保存${comments}")
    @PostMapping("/save")
    public R save(@RequestBody ${className}SaveVo vo) {
        ${classname}Service.add(vo);
        return R.ok();
    }

    @ApiOperation(value = "更新${comments}")
    @PostMapping("/update")
    public R update(@RequestBody ${className}UpdateVo vo) {
        ${classname}Service.update(vo);
        return R.ok();
    }

    @ApiOperation(value = "删除${comments}")
    @PostMapping("/delete")
    public R update(@RequestBody String[] ids) {
            ${classname}Service.delete(vo);
        return R.ok();
    }
}
