package ${package}.model.entity

import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;

/**
 * ${comments}
 *
 * @author ${author}
 */
@Data
@TableName("${tableName}")
public class ${className}Entity {

#foreach ($column in $columns)
    /**
     * $column.comments
     */
	private $column.attrType $column.attrNameSmall;
#end
}